* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(255, 247, 237);
}

.App {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.logo {
  height: 150px;
}

button {  
  color: white;
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid purple;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: rgb(235, 123, 235);
}

.boton-clic{
  background-color: rgb(211, 157, 211);
}

.boton-reiniciar{
  background-color: rgb(255, 69, 255);
}

.contenedor-principal{
  height: 480px;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}